<div class="row g-3 align-items-end mb-3">
  <div class="col-auto">
    <%= label_tag :city, "Filter by City:", class: 'form-label' %>
    <%= text_field_tag :city, 
                        @city_selected,
                        class: 'form-control',
                        data: { 
                          ajax_submit_user_target: "cityFilter",
                          filter_users_target: "select",
                          action: "keyup->filter-users#search"
                        } %>
  </div>
</div>