<%= turbo_frame_tag "user_table" do %>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th class="hide-on-mobile">Telephone</th>
        <th class="d-flex justify-content-end">Delete User</th>
      </tr>
    </thead>
    <tbody data-filter-users-target="table"> 
    <% users.each do |user| %>
      <%= render partial: 'users/user_row', locals: { user: user } %>
    <% end %>          
    </tbody>
  </table>
<% end %>
