<%= turbo_stream_from "users" %>

<div class="container mt-5" >
  <div class="row">
      <%= render 'user_filter' %>
      <%= render partial: "user_table", locals: { users: @users } %>  
  </div>

  <div>
    <%= render partial: 'form', locals: { user: @user } %>
  </div>
</div>